@font-face
{
	font-family: "hey_pretty_girl";
	src: url(../fonts/Hey_Pretty_Girl.ttf);
}

@font-face
{
	font-family: "luz_sans_book";
	src: url(../fonts/LUZHPORO.TTF);
}

html, body, header, div, a, img, span ,ul, li, footer
{
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body
{
	height: 100%;
	/*overflow-y: scroll;*/
	font:16px sans-serif; *font-size: small;
}

header, footer, nav, span, a
{
	display: block;
}

nav ul, nav li
{
	list-style: none;
	list-style-image: none;
}

a, a:hover, a:active, a:visited
{
	outline: none;
	text-decoration: none;
}
.main-menu{
	text-align:center;
	margin-top:3%;
}
.letrero
{
	font-family: "hey_pretty_girl", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size:24px;
}

#menu_principal .letrero
{
	color: black;
}

.corte_home
{
	clear: both;
	padding-bottom: 80px;
}

.corte_about_me, .corte_follow_me, .corte_more
{
	clear: both;
	padding-bottom: 90px;
}

.boton
{
	width: 75px;
	height: 75px;
	background-color:black;
	border-radius:50%;
	border: none;
	line-height: 0; font-size: 0;
	margin: auto;
	z-index: 100;
	border: none;
}

.boton_volver
{
	width: 33px;
	height: 33px;
	background-color:black;
	border-radius:50%;
	border: none;
	line-height: 0; font-size: 0;
	margin: auto;
	padding: 0;
	z-index: 100;
	border: none;
}
.contenedor_home{
	width: 100%;
	min-height: 100%;
	padding:0;
}
.contenedor
{
	width: 100%;
	min-height: 100%;
	height: auto;
	padding: 100px 0 0 0; 
	margin: 0;
}

#creado_por
{
	font-family: "Courier New", Monospace;
	font-size: 0.9em;
	font-weight: 700;
	color: #333333;
	text-align: center;
	padding-top:5px;
}

header.home
{
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

#imagen_principal
{
	clear: both;
	padding-top: 20px;
}

a.principal
{
	display: block;
	width: 300px;
	margin: 0 auto;
}

a.principal img
{
	display: block;
	width:300px;
}

.letrero_principal
{
	width: 213px;
	margin: 0 auto;
	font-weight: 400;
	font-size: 42.9px;
	color: white;
	text-align: center;
	background-color: black;
}
.letrero_info{
	padding-top:10px;
}
#letrero_principal_home
{
	position: relative;
	top: -15px;
	padding-top:1%;
}

a:hover div.boton
{
	background-color: rgb(255, 204, 0);
}

a:hover div.boton_volver
{
	width: 33px;
	height: 33px;
	background-color:rgb(255, 204, 0);

}

#about_me
{
	height: 60%;
	background: transparent url(../img/icono_about_me.png) no-repeat center;
	margin: auto;
	padding-top: 90%;
	z-index: 500;
	border: none;
}

#arq
{
	height: 60%;
	background: transparent url(../img/icono_arq.png) no-repeat center;
	margin: auto;
	padding-top: 90%;
	z-index: 500;
	border: none;
}

#sketch
{
	height:60%;
	background: transparent url(../img/icono_sketch.png) no-repeat center;
	margin: auto;
	padding-top: 95%;
	z-index: 500;
	border: none;
}

#more
{
	height: 60%;
	background: transparent url(../img/icono_more.png) no-repeat center;
	margin: auto;
	padding-top: 95%;
	z-index: 500;
	border: none;
}

#follow_me
{
	height: 60%;
	background: transparent url(../img/icono_arrow.png) no-repeat center;
	margin: auto;
	padding-top: 90%;
	z-index: 500;
	border: none;
}

#back
{
	width: 33px;
	height: 33px;
	background: transparent url(../img/icono_back.png) no-repeat center;
	margin: auto;
	padding: 0;
	z-index: 500;
	border: none;
}

li.boton_menu
{
	display: inline-block;
	padding:0 30px 20px 30px;
}
li.boton_menu a
{
	display: block;
}
li.boton_menu i
{
	color:white;
	font-size:60px;
	padding-top:15%;
	padding-left:16%;
}
li.boton_menu a span
{
	text-align: center;
	font-size: 20px;
}

footer.home
{
	height: 70px;
	margin-top: -70px;
}

footer.home a
{
	text-align: center;
	font-weight: 500;
	font-style: normal;
	font-size: 22px;
	line-height: 50px;
	color: black;
	width: 240px;
	margin: auto;
}

header.about_me, header.follow_me, header.more
{
	background-color: rgb(255, 204, 0);
	padding: 15px 0 0 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

header.about_me span, header.follow_me span, header.more span
{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 5px;
}

section.about_me
{
	text-align: center;
	padding-top: 20px;
}

.contenido span.texto
{
	font-family: "luz_sans_book", Arial, sans-serif;
	font-size: 14.4px;
	font-weight: normal;
	font-style: normal;
}
.texto a{
	display:inline-block;
	color:black;
	font-weight:bold;
}
.gris
{
	color:rgb(102,102,102);
}

#nombre
{
	font-size: 19.6px;
	color: rgb(51,51,51);
}

.capital
{
	display: inline;
	font-weight: 800;
	font-size: 22px;
}

#fecha
{
	font-size: 11px;
}

#arquitecta
{
	font-size: 19.6px;
	color: rgb(51,51,51);
}

.contenido .letrero
{
	padding-top: 15px;
	font-size: 18px;
}

.letrero2
{
	display: inline;
	font-size: 14px;
}

strong
{
	color: rgb(51,51,51);
}

#foto_estela
{
	width: 180px;
	border-radius:50%;
	margin: auto;
	padding: 0;
	z-index: 500;
	border: none;
}

footer.about_me, footer.follow_me, footer.more
{
	height: 87px;
	padding-bottom: 3px;
}

footer.about_me a, footer.follow_me a, footer.more a
{
	height: 70px;
	width: 80px;
	margin: auto;
	padding-top: 20px;
}

footer.about_me a span, footer.follow_me a span, footer.more a span
{
	text-align: center;
	color: black;
	font-size: 14px;
	padding-top:5px;
}

section.follow_me
{
	margin: 10% 22%;
}

#instagram
{
	height: 100%;
	background: transparent url(../img/icono_instagram.png) no-repeat center;
	margin: auto;
	padding-top: 90%;
	z-index: 500;
	border: none;
}

#flickr
{
	height: 80%;
	background: transparent url(../img/icono_flickr.png) no-repeat center;
	margin: auto;
	padding-top: 90%;
	z-index: 500;
	border: none;
}

#mail
{
	height: 60%;
	margin: auto;
	padding-top: 42%;
	padding-left:12%;
	z-index: 500;
	border: none;
	font-size:60px;
	color:white;
}

section.more {
	font-family: "hey_pretty_girl";
	font-weight: 900;
	font-size: 40px;
	color: rgb(51, 51, 51);
	text-align: center;
	padding-top: 10%;
}

.dibujo {
	text-align: center;
	margin: 1% auto;
}
.imgs{
	margin:0 50px;
}
.imgs li{
	display:inline-block;
}
.magia {
	height:250px;
}
.img_info{
	height: 250px;
	margin:10px 10px 0 10px;
	position: relative;
}
.img_transp{
	height: 250px;
	opacity:1;
}
.imgs_txt{
	font-family:"hey_pretty_girl";
	font-size:30px;
	margin-bottom:25px;
}
.imgs_merch{
	font-size:30px;
	margin-top:25px;
}
.txt_merch{
	font-size:24px;
	margin-top:20px;
}
.imgs_circulo{
	width: 270px;
	height: 270px;
	border-radius: 50%;
	background-color:#F2F2F2;
	color: black;
	font-family: "hey_pretty_girl";
	font-size:48px;
	border-radius: 50%;
	opacity: 0.95;
	padding-top:120px;
	z-index:2;
	position: relative;
}
.tab{
	font-family:"hey_pretty_girl";
	text-align:center;
	font-size:36px;
	padding:20px;
	width:100%;
}
.tab p{
	display:inline-block;
	padding:0 20px;
	border-radius:15px;
}
.merchandising{
	display:none;
	text-align:center;
	font-family:"hey_pretty_girl";
	font-size:21px;
	margin: 3% auto;

}